#loader{
  color: #E42538;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  align-items: center;
}

.detalleEvento{
    margin: 10vw;
}

.detalleEvento .imagen{
    width: 80vw;
    display: flex;
    margin: auto;
    border-radius: 10px;
}

.detalleEvento .infoFechaPrecio{
  background-color: #f8f8f8;
}

.detalleEvento .fecha,
.detalleEvento .precio{
  margin-top: 1.1rem;
  font-size: 1.25rem;
}

.detalleEvento .titulo{
    font-size: 1.85rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.detalleEvento .lugar{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 0.75rem;
}

.button-53 {
    background-color: #E42538;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 1.5rem;
  }
  
  .button-53:focus {
    outline: 0;
  }
  
  .button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    border-radius: 3px;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-53:hover:after {
    bottom: 2px;
    left: 2px;
  }

  .detalleEvento .descripcion{
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #000000;
  }
  
.detalleEvento .video{
  border-radius: 10px;
  width: 80vw;
  height: 200px;
}

.informacionContainer .titulo{
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000000;
}

.informacionContainer .data{
    margin-top: 0rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
}

.locacion .informacion{
  font-size: 1.1rem;
}

.locacion .img{
  width: 80vw;
  display: flex;
  margin: auto;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.locacion .transporte{
  margin: 2rem 0;
  font-size: 1.25rem;
}

.locacion .map{
  width: 80vw;
  height: 500px;
  border-radius: 20px;
  margin-top: 1rem;
  margin: 0;
}

.SfQLQb-dIxMhd-bN97Pc-b3rLgd .i4ewOd-pzNkMb-tJHJj{
  background-color: #E42538;
}

  @media (min-width: 768px) {
    .button-53 {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
}