#loader{
  color: #E42538;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  align-items: center;
}

.detalleEvento{
    margin: 10vw;
}

.detalleEvento .imagen{
    width: 80vw;
    display: flex;
    margin: auto;
    border-radius: 10px;
}

.detalleEvento .infoFechaPrecio{
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detalleEvento .fecha{
  margin-top: 1rem;
  font-size: 1.25rem;
}

.detalleEvento .precio{
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.detalleEvento .titulo{
    font-size: 1.85rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.detalleEvento .lugar{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 0.75rem;
}

.detalleEvento .botonEvento{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    padding: 0 3rem;
    width: 75vw;
    margin: 0 5vw;
    align-items: center;
    text-transform: uppercase;
}

.botonEvento:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #325771;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .botonEvento:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .botonEvento span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 10px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  z-index: 20;
  transition: all 1s ease-in-out;
  font-family: 'Nunito', sans-serif;
 }
 
 .botonEvento:hover span {
  color: #ffff;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
 



  .detalleEvento .descripcion{
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #000000;
  }

.detalleEvento .video{
  border-radius: 10px;
  width: 80vw;
  height: 200px;
}

.informacionContainer .titulo{
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000000;
}

.informacionContainer .data{
    margin-top: 0rem;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
}

.locacion .informacion{
  font-size: 1.1rem;
}

.locacion .capacidad{
  font-size: 1.17rem;
  margin-top: 1rem;
}

.locacion .img{
  width: 80vw;
  display: flex;
  margin: auto;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.locacion .transporte{
  margin: 2rem 0;
  font-size: 1.25rem;
}

.locacion .map{
  width: 80vw;
  height: 500px;
  border-radius: 20px;
  margin-top: 1rem;
  margin: 0;
}

  @media (min-width: 768px) {

    .detalleEvento{
      margin: 6vw;
  }
  
  .detalleEvento .imagen{
      width: 87vw;
      justify-content: left; 
      margin: 0;
  }
  
  .detalleEvento .fecha,
  .detalleEvento .precio{
    font-size: 1.4rem;
  }

  .detalleEvento #boton1{
    margin: 1rem auto;
  }
  
  .detalleEvento .titulo{
      font-size: 3rem;
  }
  
  .detalleEvento .lugar{
      font-size: 1.8rem;
  }

    .detalleEvento .descripcion{
      font-size: 1.4rem;
    }
  
  .detalleEvento .video{
    border-radius: 10px;
    width: 87vw;
    height: 350px;
  }
  
  .informacionContainer .titulo{
      font-size: 1.8rem;
  }
  
  .locacion .informacion{
    font-size: 1.3rem;
  }
  
  .locacion .capacidad{
    font-size: 1.3rem;
  }
  
  .locacion .img{
    width: 87vw;
    height: 50vh;
    margin: 2rem 0;
  }
  
  .locacion .transporte{
    font-size: 1.4rem;
  }
  
  .locacion .map{
    width: 87vw;
  }

}

@media (min-width: 1024px) {
  .detalleEvento{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    justify-content: center;
    width: 75vw;
}

.detalleEvento .imagen{
    width: 65vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.detalleEvento .infoFechaPrecio{
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
}

.detalleEvento .fecha,
.detalleEvento .precio{
  font-size: 1.6rem;
  padding: 1rem 3.5rem;
}

.detalleEvento .titulo{
    font-size: 3.3rem;
    margin-left: 5vw;
}

.detalleEvento .lugar{
    font-size: 2rem;
    margin-left: 5vw;
}

.detalleEvento .botonEvento{
  width: 40vw;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.15vw;
}

.detalleEvento #boton1{
  margin-top: -1rem;
}

  .detalleEvento .descripcion{
    font-size: 1.7rem;
    margin: 3vw 5vw;
    text-align: center;
  }

.detalleEvento .video{
  border-radius: 10px;
  width: 65vw;
  height: 450px;
  margin-left: 5vw;
}

.informacionContainer .titulo{
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto 0rem;
}

.locacion .informacion{
  font-size: 1.5rem;
  margin: 2rem 5vw;
  text-align: center;
}

.locacion .capacidad,
.locacion .transporte{
  font-size: 1.7rem;
  margin: 2rem 5vw;
  text-align: center;
}

.locacion .img{
  width: 50vw;
  height: 50vh;
  margin: 3rem auto;
}

.locacion .map{
  width: 65vw;
  margin: 2rem 5vw 1rem;
}
}