.destacados .imagen{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
}

@media (min-width: 1024px){
    .destacados .imagen{
        width: 40vw;
        margin: 3rem auto;
    }
    
}