.destacados{
    margin: 0 2rem 2rem;
}

.destacados .titulo{
    text-align: center;
    margin-bottom: 1.5rem;
}

.card-title{
    color: #ffffff;
    font-weight: 500;
    font-weight: 1rem;
}

.card-subtitle{
    color: #ffffff;
    font-size: 0.7rem;
}