.navBar{
    background-color: #E42538;
    padding: 1rem 0;
}

.navBar #titulo{
    color: #DECFD0;
    font-weight: 700;
    font-size: 1.35rem;
    margin: 5rem 0.25rem 0;
    padding-top: 5rem;
    font-family: 'Nunito', sans-serif;
}

.navBar #titulo:hover{
    color: #fff;
}

.navBar a{
    text-decoration: none;
}

.navBar .icono{
    width: 10vw;
    margin-right: 0.5rem;
}

#navegacion{
    color: #DECFD0;
    font-weight: 700;
    padding: 1.5rem 0.5rem;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

#navegacion:hover{
    color: #fff;
    font-weight: 900;
}

@media (min-width: 768px){
    .navBar .icono{
        width: 7vw;
        margin-right: 0.5rem;
    }
    
}

@media (min-width: 1024px){
    .navBar .icono{
        width: 4vw;
        margin-right: 0.5rem;
    }
}

@media (min-width: 1440px){
    .navBar .icono{
        width: 3vw;
        margin-right: 0.5rem;
    }
    
}