.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 3rem;
    color: #DECFD0;
    
}

.botones .botonIndividual{
    padding: 1rem 0;
    margin: 0.35rem 0;
}
.botones a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.botones a:hover{
    color: #ffff;
    font-weight: 900;
}

#primerBoton{
    background-color: #E42538;
    border: none;
}

#segundoBoton{
    background-color: #F94E7B;
    border: none;
}

#tercerBoton{
    background-color: #F8BD4F;
    border: none;
}

#cuartoBoton{
    background-color: #4C918F;
    border: none;
}

@media (min-width: 1024px) {
    .botones{
        flex-direction: row;
    }
    
    .botones .botonIndividual{
        padding: 2rem 3rem;
        margin: 0.35rem 2rem;
    }
}